body {
  margin: 0px;
  background: grey;
  margin: 5px;
}

#screen {
  float: left;
}

#stats {
  background-color: black;
  color: white;
  float: left;
  border: 2px solid red;
  max-width: 25%;
  margin: 0px 5px;
}